.button {
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.8em;

  &:disabled {
    opacity: 0.5;
  }
}

.search {
  padding: 1em 2em;
  border-radius: 20px;
}

.more {
  width: 100%;
  border-radius: 10px;
}

.search,
.more {
  background-color: var(--light-green, #118a9d);
  color: white;
  border: none;

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background-color: var(--green, #0e6977);
  }
}
