.table {
  width: 100vw;
  max-width: 1200px;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.th,
.td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.th {
  position: relative;
  background-color: #f2f2f2;
}

.tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tr:hover {
  background-color: #e5e5e5;
}

.resizer {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 5px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  border-radius: 6px;
}

.resizer.isResizing {
  background: var(--light-green);
  opacity: 1;
}

.sortBox {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.sortArrow {
  margin-left: 3px;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover > .resizer {
    opacity: 1;
  }
}
